extends layout

block content
  if !data
    h2= title
    p 
      img(src= img)
      #{text}
  
  else
    each item in data
      div
        - var id = item.id
        a(href="/tales/?id=" + id) #{item.title} #{item.id}
   
  
